.vis-static {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767.9px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.pseudoperex {
  font-weight: bold;
}

.pseudoperex ul {
  font-size: 1.1rem;
}